.App {
  background-color: #ffffff;
  text-align: center;
}

.logout {
  color: #fd6341 !important;
}
.seprator {
  color: #121212 !important;
}
.home-details-title {
  font-size: 16px;
  font-weight: 600;
  color: #121212;
}
.home-details-content {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
}
.first-div-home {
  align-items: left;
  text-align: left;
}
.name {
  font-size: 24px;
  font-weight: 600;
}
.profile-image {
  min-height: 200px;
  border-radius: 50%;
}
